In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [18]:
df_makers = pd.read_csv(r"C:\Users\vivek\Downloads\Electric_Vehicles_Project\Dataset\electric_vehicle_sales_by_makers.csv")
df_state = pd.read_csv(r"C:\Users\vivek\Downloads\Electric_Vehicles_Project\Dataset\electric_vehicle_sales_by_state.csv")
df_date = pd.read_csv(r"C:\Users\vivek\Downloads\Electric_Vehicles_Project\Dataset\dim_date.csv")

In [19]:
df_makers.head()

        date vehicle_category         maker  electric_vehicles_sold
0  01-Apr-21       2-Wheelers  OLA ELECTRIC                       0
1  01-Apr-22       2-Wheelers      OKAYA EV                       0
2  01-May-21       2-Wheelers  OLA ELECTRIC                       0
3  01-Jun-21       2-Wheelers  OLA ELECTRIC                       0
4  01-Jul-21       2-Wheelers  OLA ELECTRIC                       0

In [20]:
df_state.head()

,date,state,vehicle_category,electric_vehicles_sold,total_vehicles_sold
0,01-Apr-21,Sikkim,2-Wheelers,0,398
1,01-Apr-21,Sikkim,4-Wheelers,0,361
2,01-May-21,Sikkim,2-Wheelers,0,113
3,01-May-21,Sikkim,4-Wheelers,0,98
4,01-Jun-21,Sikkim,2-Wheelers,0,229